* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding: 0;
    margin: 0; */
    color: orangered;
}

.header {
    text-align: center;
    font-size: 40px;
    color: brown;
    background-image: url(./napier.jpeg);
}

.nav div {
    height: 4px;
    background-color: brown;
    margin: 5px 0px;
    border-radius: 25px;
}

.nav {
    display: block;
    margin: 1em 0 0 1em;
}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 25px;
}

.nav:hover div {
    width: 30px;
}

#form {
    display: flexbox;
}


body {
    font-family: poppins, sans-serif;
}

.main_container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}


.layout {
    background-color: rgb(223, 200, 200);
    height: 450px;
    color: #AA481E;
    padding: 10px;
    border-radius: 10px;
}

.box2 {
    background-color: white;
    /* height: 200px; */
    padding: 10px;
    border-radius: 10px;
}

.box3 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    margin: 0px;
    border-radius:10px;
}

input {
    width: 150px;
    height: 35px;
    border: none;
    outline: 0;
    border-radius: 5px;
    margin: 5px;
    color: white;
    background-color: white;
}


button {
    background-color: #AA481E;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    font-weight: 700;
}